{% from 'shared/step.html' import step %}
{% from 'shared/editor.html' import trinket %}

{% extends 'layouts/lessons.html'%}

{% block head %}
	<title>Simile Generator</title>
{% endblock %}

{% block intro %}

	<h1>Simile Generator</h1>
	<p>A <strong>simile</strong> is a kind of figurative language. Figurative language creates pictures in the reader's mind and communicates an idea in a beautiful way.</p>
	<p>A simile compares two things using "like" or "as". For example: "Tranquil as a forest" (Disney's <em>Mulan</em>), "He snuck away like a thief", "She's as brave as a lion", "He's happy like a kid at Christmas." </p>
	<p>For this project, you will use similes from literature. But using code, you'll scramble those similes--with entertaining results!</p>
	
{% endblock %}	

{% block steps %}
	{% call step('Step 1', active=true, trinket='2877d865f6') %}
	<p>Here are a few similes:<br>
		“The horse was strutting like a prizefighter.” - Laura Hillenbrand<br>
		“They watch the miners spilling out of warehouses with their lunch pails toward the mouth of the elevator like insects toward a lighted trap.” - Anthony Doerr<br>
		“Her breath is like frozen air.” - Jessica Rhoades
	</p>
	<p>We are going to use Python to scramble these similes!</p>
	<p>The code editor on the right is where you’ll write your code for this project.</p>
	<p>To make our program, we will first need to split up our similes. Then we will tell the program to randomly assign two halves of a simile together to make a whole simile.</p>
	<p>Because we want the program to have the ability to randomly assign one half of a simile to another half, we need to tell our program to use Python’s random module. This module, or set of built-in Python files, allows the program to do things randomly.</p>
	<p>To tell our program to use Python’s random module, we need to import it. Try doing this yourself: On line 2 of the code editor on the right, write a direct command to tell your program to import the random module. Next we’ll learn about variables and values so we can add some to our program. </p>
	{% endcall %}

	{% call step('Step 2', trinket='6b83e71dc1') %}
	<h4>Variables and Values</h4>
  	<p>In Python, we have variables and values. Think of a variable as a box, and a value as something that goes inside the box. Here is an example of a variable and its value:</p>
  	<p>animal = “cat”</p>
  	<p>In this case, animal is the variable, and “cat” is its value. In fact, it is a specific type of value--a string. A value that has letters or characters and no numbers is a string type value. We put strings inside quotation marks. When we write a variable, we are declaring the variable. </p>
  	<p>In this case, we can say that we are assigning the value of “cat” to the variable animal. The = is called the assignment operator. It’s not an “equals” sign in the sense that 2 = 2, but it does convey a relationship. We are basically saying that animal represents “cat”. That means that when we do something with animal, we are doing something with “cat”. </p>
  	<p>For example, look at this code:<br>
    print(animal)<br>
    </p>
 	<p>The print function tells the program to print, or display, something in the output area of our code editor. A function is an action that we can do in Python. Keeping in mind that animal represents “cat”, what do you think we’ll see if we print the value of animal?</p>
  	<p>Try it yourself: In the code editor on the right, declare a variable called animal. Then assign it a value, like “cat” (or another animal, if you’re not a cat person). Then tell the program to print the variable. Click the Run button at the top of the editor to see the results!</p>
  	<p>You can also have multiple words as part of a single value. For example:</p>
  	<p>favorite_song = “Somewhere Over the Rainbow”</p>
  	<p>Try typing the above code in the editor and then printing favorite_song.</p>
  	<p>Note that variable names are lowercase. Use underscores when you need to include multiple words, as in favorite_song, cat_name, and so on.</p>
  	<p>Sometimes we might want to have more than one value assigned to a variable. We might want to have a list of values, for instance. In Python, we can make a list, also called an array. For example:</p>
  	<p>animal = [“cat”, “dog”, “bird”, “fish”]</p>
  	<p>“Cat”, “dog”, “bird”, and “fish” are all values in the array. In this example, they are all single-word strings. But you can have multiple-word strings as values in an array, as well:</p>
  	<p>favorite_songs = [“Somewhere Over the Rainbow”, “Happy Birthday”, “Imagine”]</p>
  	<p>What do you think will be the result if you typed the above line of code in your code editor and then printed favorite_songs? Try it and see!</p>
	{% endcall %}

	{% call step('Step 3', trinket='2877d865f6') %}
	<p>Now that you know about variables and values, let’s create some for our simile generator. A simile is a comparison of two nouns. To make our simile generator, we need to have two lists of nouns that we can compare.</p>
	<p>First, let’s create two new variables. Each one is the name of a list. If we want to have two lists, list 1 and list 2, how would we format those as variable names? Type the variable names on lines 4 and 5 of your code editor. </p>
	<p>Now we need some values to assign to our variables. Let’s take a look at our similes:</p>
	<p>
		The horse was strutting like a prizefighter.<br>
		The miners spilling out of warehouses with their lunch pails toward the mouth of the elevator like insects toward a lighted trap.<br>
		Her breath is like frozen air.
		</p>
	<p>We need to split each of these similes so that the first noun phrase of each simile is in the first list, and the second noun phrase of each simile is in the second list. A noun phrase contains a noun (person, place, thing) and words that accompany it, such as articles (a/an/the), adjectives, or verbs.</p>
	<p>Look at the similes again:</p>
	<p>The horse was strutting like a prizefighter.<br>
		The miners spilling out of warehouses with their lunch pails toward the mouth of the elevator like insects toward a lighted trap.<br>
		Her breath is like frozen air.</p>
	<p>
		Let’s take the noun phrases highlighted in yellow and assign them as values to our first variable. Here’s a hint as to how to format these:
		</p>
	<p>list_1 = [“ ” , “ ”, “ ” ]</p>
	<p>We also need to assign values to our second variable. Take the noun phrases highlighted in blue and assign them as list items to the second variable. Use the same formatting as you did for list_1.</p>
	{% endcall %}

	{% call step('Step 4', trinket='2877d865f6') %}
	<p>Now that we have our two lists, with each list containing a part of a simile, we need to tell our program to randomly pull an item from each list. We do this by using Python’s random module.</p>
	<p>On lines 7 and 8, we are going to make two new variables. Each variable is going to contain just one item, or value. Type the following code on lines 7 and 8:</p>
	<p>part_1 = random.choice(list_1)<br>
	   part_2 = random.choice(list_2)
	</p>
	<p>The random.choice you see above is randomly pulling an item from the list in parentheses next to it and assigning that value to the new variable. So, the variable part_1 will have a value of an item from list_1 and the variable part_2 will have a value of something pulled from list_2. </p>
	<p>This is where the “scrambling” happens--we won’t know what items the code assigned to part_1 and part_2 until the program runs!</p>
	{% endcall %}

	{% call step('Step 5', trinket='2877d865f6') %}
	<p>A basic simile follows this formula:</p>
	<p>simile = noun phrase 1 + “like” + noun phrase 2</p>
	<p>We want to teach this formula to our program. How might we do that, using what we know about variables and values? On line 10  try turning this formula into code. </p>
	<p>Then, on line 11, tell the program to print your simile. Then hit Run and see what happens!</p>
	{% endcall %}

	{% call step('Step 6', trinket='2877d865f6') %}
	<p>Now your simile generator is all set up and ready to use. All you have to do is hit Run as many times as you want to see different similes. You may even end up seeing the original, unscrambled similes! It all depends on what values the program chooses to randomly pull from list_1 and list_2. </p>
	{% endcall %}
{% endblock %}

{% block editor %}
	{{ trinket('2877d865f6', active=true) }}
	{{ trinket('6b83e71dc1') }}
{% endblock %}

{% block resources %}
	<h3>Teaching Ideas</h3>
	<ul>
		<li><strong>Key terms & concepts:</strong> Figurative language, simile, Python, value, variable, module, random module, string, function, print function, array, noun phrase</li>
		<li>Discuss the difference between similes and metaphors.</li>
		<li>Discuss why we use figurative language like similes and metaphors. How do these devices communicate an idea in a way that perhaps literal, non-figurative language doesn’t?</li>
		<li>To explore similes further, have students find examples in popular culture, like song lyrics.</li>
		<li>Instead of using the similes provided to complete the project, have students use examples from literature they are reading in class or their own original similes.</li>
		<li>Generate simile ideas in small groups or as a class: Have each student come up with 5-10 nouns and write them on index cards. If in a small group, students show each other their cards and decide which could be paired as similes. Discuss the idea of abstraction, and how we’re not looking for literal similarity, i.e. “lemons are like oranges because they’re both citrus fruits”, but rather figurative similarity.</li>
		<li>Have students write short responses or essays about the role of similes in a piece of literature. </li>
	</ul>
{% endblock resources %}
