{% extends 'layouts/page.html' %}

{% block content %}

<!-- add container element -->
<div class="content">
	<!-- add content element -->
	<h2>About Koalgo</h2>
	<p>Koalgo's mission is to encourage students to play with language using code. In Korean <em>keompyuteo kodeu</em> means "computer code" and <em>algo sip-eohaneun geos</em> means "inquisitive". Put together parts of these Korean words and you have <em>Koalgo</em>—an example of the innovation you get when curiosity and computer science intersect. </p>
	
	<h2>About the Creator</h2>
	<p>Koalgo is created by Karen Schwarze, a San Francisco Bay Area native and former English teacher. She has a B.A in English Education and an M.A. English. She believes that coding belongs in English class and is deeply passionate about making coding education fun and accessible to English teachers and students. Connect with Karen on Twitter <a href="https://twitter.com/KarenLSchwarze" target= "_blank">@KarenLSchwarze</a>.</p>
</div>


{% endblock %}
	

